.mainColor {
  color: #0f141f;
}
.cartComponent {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important;

}
.cardProfile {
  background-color: #2c64e4;
}
.bgImage {
  background-image: url("/Asset/Group.png");
  background-repeat: no-repeat;
}
.card {
  width: 15rem;
  height: 9rem;
  
}
.cardIcon {
  height: 80%;
  width: 80%;
}
.acrodionHeading {
  color: white;
  background-color: #2e3a54;
}

.bodyColor {
  background-color: #f4f8ff;
}

.chartContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}



@media only screen and (max-width: 600px) {
  .cartComponent {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 15px;
  }
  .chartContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .navContainer ul li a {
    font-size: xx-small;
  }
  .navRoute {
    display: none;
  }
  body {
    overflow-x: hidden !important; /* Hide horizontal scrollbar */
  }
  .card {
    width: 100%;
    height: 9rem;
    
  }
}
