.mainColor {
  color: #0f141f;
}
.cartComponent {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important;
}
.cardProfile {
  background-color: #2c64e4;
}
.bgImage {
  background-image: url("/Asset/Group.png");
  background-repeat: no-repeat;
}
.card {
  width: 15rem;
  height: 9rem;
}
.cardIcon {
  height: 80%;
  width: 80%;
}
.acrodionHeading {
  color: white;
  background-color: #2e3a54;
}

.bodyColor {
  background-color: #f4f8ff;
}

.chartContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.globalBtn {
  background: radial-gradient(
    75.47% 75.47% at 50% 0%,
    #598bfc 0%,
    #1a55db 100%
  );
  padding: 10px 50px;
  border-radius: 10px;
  color: white;
  margin-top: 5px;
}
.accrodianImg {
  height: 2rem;
  width: 3rem;
  padding-right: 10px;
  padding-left: 5px;
}

@media only screen and (max-width: 600px) {
  .cartComponent {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 15px;
  }
  .chartContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: fit-content;
  }
  .navContainer ul li a {
    font-size: xx-small;
  }
  .navRoute {
    display: none;
  }

  .card {
    width: 100%;
    height: 9rem;
  }

  .navlink {
    font-size: xx-small !important;
    padding: 0px;
    margin: 0%;
    margin-top: 12px;
  }
  .navHead {
    margin: 0% !important;
    font-size: small !important;
    white-space: nowrap;
  }
  .bodyHeader {
    padding: 0%;
    margin: 0%;
  }
  .chartContainer {
    width: 100%;
  }
  .firstChart {
    width: 99%;
  }
  .secondChart {
    width: 99%;
  }
  body {
    overflow-x: hidden !important;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .cartComponent {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 15px;
  }
  .navHead {
    margin: 0% !important;
    font-size: medium !important;
    white-space: nowrap;
  }
  .bodyHeader {
    padding: 0%;
    margin-top: 18%;
  }
  .navlink {
    font-size: x-small !important;
    padding: 0px;
    margin: 0%;
    margin-top: 12px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .firstChart {
    width: 99%;
  }
  .secondChart {
    width: 99%;
  }
 
}
